img {
  width: 10vw;
}
.read {
  float: right;
}

.search {
  float: right;
}

.tabs {
  float: center;
}
body {
  /* margin-top: 10%; */
  font-family: Georgia;

}
.panel-heading {
  color: black;
}

.right {
  float: right;
}