img {
  width: 10vw;
}
.read {
  float: right;
}

.search {
  float: right;
}

.tabs {
  float: center;
}
body {
  margin-top: 2%;
  font-family: Georgia;

}
.panel-heading {
  color: black;
}

.right {
  float: right;
}
.format img {
  float: left;
  padding: 4px;
}

h2 {
  font-weight: bold;
}
.top {
  margin-left: 70%;
}

